{% import 'macros.html' as macro %}

{% block styles%}
  <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
  {% endblock%}

  {% block title %}{{title}}{% endblock %}

  {% block body %}
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand topnav" href="{{url_for('main.index')}}">Gypsy Blogs</a>

          <a class="navbar-brand topnav" href="{{ url_for('main.index') }}">Home</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              {% if current_user.is_admin %}
                <li>
                  <a href="{{url_for('main.admin_dashboard')}}">Admin</a>
                </li>
                <li>
                  <a href="{{url_for('admin.view_blogsections')}}">Blog Sections</a>
                </li>
                <li>
                  <a href="{{url_for('admin.view_blogposts')}}">Blog Posts</a>
                </li>
                <li>
                  <a href="{{url_for('admin.view_comments')}}">Blog Comments</a>
                </li>
              {% else %}
                <div class="dropdown">
                  <a href="{{url_for('main.display_blogsections')}}">
                    <li class="dropbtn">Blog Sections
                      <i class="fa fa-caret-down"></i>
                    </li>
                  </a>
                  <div class="dropdown-content">
                    {{macro.displayblogsections(blogsections)}}
                  </div>
                </div>
              {% endif %}
              <li>
                <a href="{{ url_for('auth.logout') }}">Sign Out</a>
              </li>
              <li>
                <a>
                  <i class="fa fa-user"></i>
                  Hi,
                  {{ current_user.username }}!</a>
              </li>
            {% else %}
              <li>
                <a href="{{ url_for('main.index') }}">Home</a>
              </li>
              <li>
                <a href="{{ url_for('auth.register') }}">Register</a>
              </li>
              <li>
                <a href="{{ url_for('auth.login') }}">Sign In</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}
